.composition{
    position: relative;
    &-img{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-dark, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s ease-in-out;
        outline-offset: 2rem;
        &:hover{
            outline: 1.5rem solid $color-primary-dark;
            z-index: 20;
            transform: scale(1.08) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-dark, .4);
        }
    }
    &-1{
      top: -2rem;  
      left: 0;
    }
    &-2{
        right: 0;
        top: 2rem;
    }
    &-3{
        top: 10rem;
        left: 25%;
    }
    &:hover &-img:not(:hover){
        transform: scale(.95);
    }
}