@keyframes moveToright{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
    80%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes moveToLeft{
    0%{
        opacity: 0;
        transform: translateX(20px);
    }
    80%{
        transform: translateX(-5px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideupbtn{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}